<p>home works!</p>

<form [formGroup]="form">
    <input type="text" formControlName="name" placeholder="Name">
    <input type="text" formControlName="email" placeholder="Email">
    <input type="text" formControlName="phone" placeholder="Phone">
    <input type="text" formControlName="userName" placeholder="userName">
    <input type="text" formControlName="password" placeholder="Password">
    <input type="text" formControlName="cPassword" placeholder="confirm Password">

    <input type="Submit" value="Submit" (click)="onSubmit()">
</form>

<table>
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>userName</th>
        <th>Password</th>
    </thead>
    <tbody>
        <tr *ngFor="let items of allData;let i =index ">
            <td>{{items.name}}</td>
            <td>{{items.email}}</td>
            <td>{{items.phone}}</td>
            <td>{{items.userName}}</td>
            <td>{{items.password}}</td>
        </tr>
    </tbody>
</table>