.container{
    width: 90%;
}
h1{
    text-align: center;
}
.main, table{
    width: 100%;
    margin:20px;
    padding:30px;
    border:2px solid darkcyan;
    
}
.left{
 text-align: right;
}
.button{
    text-align: center;
    margin: 20px;
}
.row{
    margin: 9px;
}
.danger{
  color: red;
}
